<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <div id="app">
        This is a test. id=app
        <!-- Vue.js domain -->
        <br> {{ message + '1234' }}
        <br>
        <span :title="date">마우스를 가까이 가져오세요. v-bind 생략가능</span>
        <!-- <span v-bind:title="date">마우스를 가까이 가져오세요.</span> -->
        <!-- <span title="날짜 - 툴팁">마우스를 가까이 가져오세요.</span> -->
        <br>
        <span v-if="seen">볼 수 있어용</span>
        <span v-else>못 봐용</span>
        <!-- myApp.$data.seen = true & false -->
        <br>
        <ul>
            <!-- 정렬안한 리스트 -->
            <li v-for="todo in todos">{{todo.text}}</li>
            <!-- todos 에서 반복으로 뽑음 -->
            <!-- myApp.$data.todos.push({text: 'TEXT'}) -->
            <!-- myApp.$data.todos.pop({text: 'TEXT'}) -->
        </ul>
        <br>
        <div>
            <div class="column">1</div>
            <div class="column">2</div>
            <div class="column">3</div>
            <div class="column">4</div>
            <div class="column">5</div>
        </div>
    </div>

    <!-- https://bulma.io/documentation/ -->

    <section>
        <div class="section">
            <h1 class="title is-primary">제목</h1>
            <h2 class="subtitle">중요한 내용</h1>
        </div>
        <a class="button is-link">button</a>
        <span class="tag is-primary">트위터<button class="delete"></button></span>
        <article class="message">
            <div class="message-header">
                <p>Hello World</p>
                <button class="delete is-primary"></button>
            </div>
            <div class="message-body">
                <span class="content is-5">Test message body!!</span>
            </div>
        </article>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script/> 이렇게 닫지 말것. 활성화 안됨 -->
    <script>
        const myApp = new Vue({
            el: '#app',
            //elements 원소, #id 함으로써 DOM과 연결? - tag id
            data: {
                message: 'Cloud!',
                date: '오늘 날짜 : ' + new Date().toLocaleString(),
                seen: true,
                todos: [
                    {text : 'JAVAScript'},
                    {text : 'Node.js'},
                    {text : 'Vue.js'},
                    {text : 'Nuxt.js'}
                ]
            }
        });
            //myApp.$data.message = '1234';
            //동적으로 message가 바뀜
    </script>
</body>

</html>